<li>
    <p><span class="label"># </span> {{this.id}}<span>   <span class="label"></span> {{this.burger_name}}

        <span><button class="change-devour" data-id="{{this.id}}"  data-newdevour="{{devoured}}">
                {{#if devoured}}YUM!{{else}}Devour!{{/if}}
            </button></span>

</li>